.data {
    margin: 80px;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 5px -10px rgba(202, 238, 201, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background-color: rgb(77, 88, 39);
  }
  
  