.chart {
  margin: 10px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 5px -10px rgba(30, 170, 26, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(212, 167, 43, 0.75);
  background-color: rgb(236, 233, 248);
}

.chartTitle {
  margin-bottom: 100px;
}
